.btn-m{
    background-color: white;
    color: #000000;
    border: 2px solid #FFF200;
    transition-duration: 0.4s;
    height:75px;
    margin:15px;
    margin-bottom:3px;
}

.btn-m:hover{
    background-color: #FFF200; /* Green */
    color: white;

}

.three-btns{
    margin-top:12px;
    margin-left:5px;
    display: flex;
  justify-content: center;
}